body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('/Assets/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/Assets/img/background.jpg') no-repeat center center fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a {
    text-decoration: none;
}
a:visited {
    color: unset;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, black, transparent);
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    z-index: 1000;
}

.welcome-box, .quiz-time-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 50px;
    padding-top: 100px;
    border-radius: 10px;
    height: 300px;
    width: 500px;
}

.quiz-time-box img {
    width: 85%;
    margin: auto;
}

.quiz-title {
    background: rgba(255, 255, 255, 0.2);
    display:inline-block;
    padding: 10px 250px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 2em;
}

.quiz-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.quiz-card {
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.quiz-card:hover {
    transform: scale(1.05); 
    box-shadow: 8px 8px 30px rgb(38, 38, 38);
}
.quiz-card a {
    color: white;
}
.quiz-card img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 4px 4px 20px rgb(38, 38, 38);
}
footer {
    margin-top: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}
